body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #cbd5e1;
}

img {
  width: 250px;
  border-radius: 50%;
  margin-top: 30px;
  border: 4px solid #38bdf8;
}
