body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 60px;
}

.text h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.text p {
  font-size: 18px;
  color: #cbd5e1;
}

.image img {
  width: 300px;
  border-radius: 20px;
  border: 4px solid #38bdf8;
}
